@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p>Você não têm permissão para acessar essa fucionalidade, <a asp-controller="Home" asp-action="Index">clique aqui
        para voltar para a home.</a></p>